<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jyotti.apexing.apexing_android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="jyotti.apexing.apexing_android.HiltApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_apexing"
        android:label="@string/app_name_installed"
        android:roundIcon="@mipmap/icon_apexing_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApexingAndroid">
        <activity
            android:name="jyotti.apexing.apexing_android.ui.activity.home.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="jyotti.apexing.apexing_android.ui.activity.account.AccountActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="jyotti.apexing.apexing_android.ui.activity.splash.SplashActivityV2"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>